.env
.DS_Store
__pycache__
.venv

# gemini cli config
.gemini/

# AI coding IDE files (.windsurfrules can deprecate near future)
.clinerules/
.cursor/
.roo/
.windsurfrules
.windsurf/
.github/
.idx/
GEMINI.md
.vscode/mcp.json
